
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.zip
*.opensdf
*.md5
*.dot
*.html
*.png
*.js
*.ts
*.scss
*.jpg
*.json
*.css
*.o
*.bin
*.ipch
*.cmake
*.make
*.sql
*.bat
*.dll
*.manifest
*.vbe
*.xslt
*.dat
*.caffemodel
CMakeCache.txt
build/
*.so
*.a
bin_debug/
bin/
